@page
@model MoviesInfo.Areas.User.Pages.FavoritesModel
@{
    ViewData["Title"] = "Favorites";
    ViewData["Header"] = "Favorites shows";
}
@foreach (var item in Model.Favorites)
{
    <div class="container p-0 d-flex align-content-stretch mb-4">
        <div class="flex-grow-0 mr-2">
            <img style="max-width:150px;" class="border border-primary rounded" src="@item.Show.Portrait" />
        </div>
        <div class="card border-dark flex-grow-1">
            <div class="card-header bg-dark">
                <h3 class="card-title text-white mb-0">@Html.DisplayFor(modelItem => item.Show.Name)</h3>
            </div>
            <div class="card-body">
                @Html.DisplayFor(modelItem => item.Show.Description)
            </div>
            <form class="card-footer d-flex justify-content-between" method="post">
                    <input type="hidden" asp-for="@item.ShowId" name="showId" />
                    <button class="btn btn-danger" asp-page-handler="Unfollow">Unfollow</button>
                    <a class="page-link" asp-area="Show" asp-page="/More" asp-route-id="@item.Show.Id">More details</a>
            </form>
        </div>
    </div>
}